@import "tailwindcss";

@layer base {
  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
      /* Asegúrate de que este color coincida con el fondo de tu aplicación en modo oscuro */
      -webkit-box-shadow: 0 0 0px 1000px #2c2f36 inset !important; 
      -webkit-text-fill-color: #f7fafc !important; 
      transition: background-color 5000s ease-in-out 0s;
  }
}